@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #161624;
    font-family: "Poppins", sans-serif;
}

.button {
    position: relative;
    height: 250px;
    width: 700px;
    background: #ff0f80;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 7em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0 5px #343a40;
    box-shadow: 0 0 1em 0.1em #ff0f80;
    transition: -webkit-box-reflect 1s ease;
}

.button:active {
    transform: scale(0.96);
}

/* .button:hover {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
} */

.button::before,
.button::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    background-repeat: no-repeat;
    z-index: -1;
}

.button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #ff0f80 20%, transparent 20%),
        radial-gradient(circle, transparent 15%, #ff0f80 15%, transparent 25%),
        radial-gradient(circle, #ff0f80 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff0f80 15%, transparent 20%),
        radial-gradient(circle, #ff0f80 10%, transparent 20%),
        radial-gradient(circle, #ff0f80 15%, transparent 25%),
        radial-gradient(circle, transparent 15%, #ff0f80 20%, transparent 25%),
        radial-gradient(circle, #ff0f80 20%, transparent 15%),
        radial-gradient(circle, transparent 15%, #ff0f80 15%, transparent 22%),
        radial-gradient(circle, #ff0f80 10%, transparent 10%);
    background-size: 10% 10%, 20% 20%, 15% 20%, 15% 15%, 25% 25%, 10% 15%, 20% 25%, 18% 18%, 15% 15%, 20% 20%;
    background-position: 8% 90%, 10% 90%, 10% 90%, 20% 80%, 45% 80%, 25% 90%, 30% 80%, 40% 90%, 35% 85%, 50% 90%;
    animation: topbubbles 1s ease-in-out forwards;
}

@keyframes topbubbles {
    50% {
        background-position: 2% 70%, 0% 20%, 10% 50%, 20% 0%, 20% 20%, 20% 40%, 50% 20%, 30% 20%, 60% 30%, 40% 50%;
    }

    100% {
        background-position: 0% 50%, 0% 10%, 10% 30%, 20% -10%, 10% 5%, 20% 20%, 40% 10%, 30% 10%, 60% 15%, 40% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #ff0f80 20%, transparent 20%),
        radial-gradient(circle, transparent 15%, #ff0f80 15%, transparent 25%),
        radial-gradient(circle, #ff0f80 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff0f80 15%, transparent 20%),
        radial-gradient(circle, #ff0f80 10%, transparent 20%),
        radial-gradient(circle, #ff0f80 15%, transparent 25%),
        radial-gradient(circle, transparent 15%, #ff0f80 20%, transparent 25%),
        radial-gradient(circle, #ff0f80 20%, transparent 15%),
        radial-gradient(circle, transparent 15%, #ff0f80 15%, transparent 22%),
        radial-gradient(circle, #ff0f80 10%, transparent 10%);
    background-size: 10% 10%, 20% 20%, 15% 20%, 15% 15%, 25% 25%, 10% 15%, 20% 25%, 18% 18%, 15% 15%, 20% 20%;
    background-position: 90% 0%, 30% 10%, 45% 15%, 50% 5%, 65% 0%, 70% 0%, 75% 0%, 85% 10%, 80% 15%, 60% 10%;
    animation: bottombubbles 3s ease-in-out forwards;
}

@media (max-width: 600px) {
    .button {
        height: 150px;
        width: 300px;
        font-size: 3em;
    }
}

@keyframes bottombubbles {
    50% {
        background-position: 80% 70%, 20% 75%, 45% 50%, 60% 60%, 65% 55%, 70% 70%, 80% 75%, 90% 60%, 80% 50%, 60% 80%;
    }

    100% {
        background-position: 80% 85%, 20% 90%, 50% 50%, 60% 90%, 50% 95%, 70% 70%, 90% 100%, 90% 80%, 80% 70%, 70% 85%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}